<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pearadmin.modules.cms.mapper.SinglePageMapper">

    <resultMap id="SinglePageMap" type="SinglePage">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="type_id" property="typeId"></result>
        <result column="url" property="url"></result>
        <result column="synopsis" property="synopsis"></result>
        <result column="context" property="context"></result>
        <result column="pic" property="pic"></result>
        <result column="show_time" property="showTime"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>

    <select id="selectList" resultMap="SinglePageMap">
        select * from single_page
        <where>
        </where>

        order by id desc

    </select>

    <!-- 根据 Id 查询角色-->
    <select id="selectById" parameterType="int" resultMap="SinglePageMap">
        select * from single_page where id = #{id}
    </select>

    <select id="selectByURL" parameterType="string" resultMap="SinglePageMap">
        select * from single_page where url = #{url}
    </select>


    <!-- 新增 数据 -->
    <insert id="insert" parameterType="SinglePage">
        insert into single_page
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title!=null">
                title,
            </if>
            <if test="typeId!=null">
                type_id,
            </if>
            <if test="url!=null">
                url,
            </if>
            <if test="synopsis!=null">
                synopsis,
            </if>
            <if test="context!=null">
                context,
            </if>
            <if test="pic!=null">
                pic,
            </if>
            <if test="showTime!=null">
                show_time,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="title!=null">
                #{title},
            </if>
            <if test="typeId!=null">
                #{typeId},
            </if>
            <if test="url!=null">
                #{url},
            </if>
            <if test="synopsis!=null">
                #{synopsis},
            </if>
            <if test="context!=null">
                #{context},
            </if>
            <if test="pic!=null">
                #{pic},
            </if>
            <if test="showTime!=null">
                #{showTime},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <!-- 根据 Id 修改角色数据 -->
    <update id="updateById" parameterType="SinglePage">
        update single_page
        <set>
    <if test="title!=null and title!=''">
        title = #{title},
    </if>
    <if test="typeId!=null and typeId!=''">
        type_id = #{typeId},
    </if>
    <if test="url!=null and url!=''">
        url = #{url},
    </if>
    <if test="synopsis!=null and synopsis!=''">
        synopsis = #{synopsis},
    </if>
    <if test="context!=null and context!=''">
        context = #{context},
    </if>
    <if test="pic!=null and pic!=''">
        pic = #{pic},
    </if>
    <if test="showTime!=null">
        show_time = #{showTime},
    </if>
    <if test="createTime!=null">
        create_time = #{createTime},
    </if>
        </set>
        where id = #{id}
    </update>

    <!-- 根据 Id 删除 -->
    <delete id="deleteById" parameterType="int">
        delete from single_page where id = #{id}
    </delete>

    <!-- 根据 Id 批量删除 -->
    <delete id="deleteByIds" parameterType="int">
        delete from single_page where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>