<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6 lt8 lt9 lt10"><![endif]-->
<!--[if IE 7]><html class="ie ie7 lt8 lt9 lt10"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lt9 lt10"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lt10"><![endif]-->
<!--[if (gt IE 9) | !(IE)]><!--><html xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->
<head>
    <th:block th:include="include :: headhtml('网站建设中-卫华口腔')"/>
</head>

<body>
<div class="body-box details-box campdata-box">
    <section class="main-box">
        <div class="wrap">
            <div class="main">
                <h1 align="center">网站已经关闭，请联系客服。</h1>
            </div>
        </div>
    </section>
</div>

</body>
</html>