<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增')"/>
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
#foreach($column in $columns)
#if($column.isFormShow == 'true' || !$column.isFormShow)
                <div class="layui-form-item">
                    <label class="layui-form-label">${column.comments}</label>
                    <div class="layui-input-block">
                        <input type="text" id="${column.attrname}" name="${column.attrname}" #if($column.isFormShow == 'NO')lay-verify="required"#end autocomplete="off" placeholder="请输入${column.comments}"
                               class="layui-input">
                    </div>
                </div>
#end
#end
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="${classname}-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form', 'jquery','laydate'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        var laydate = layui.laydate;
        laydate.render({
            elem: '#birthday' //指定元素
        });

        form.on('submit(${classname}-save)', function (data) {
            $.ajax({
                url: '/${modelName}/${pathName}/save',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("${classname}-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>

</body>
</html>