package ${package}.mapper;

import ${package}.domain.${className};
import org.apache.ibatis.annotations.Param;

import java.util.List;

public interface ${className}Mapper {

    /**
     * 按条件查询数据
     * @param param
     * @return
     */
    List<${className}> selectList(${className} param);


    /**
     * 添加数据
     * @param param
     * @return 执行结果
     */
    Integer insert(${className} param);


    /**
     * 根据 id 查询
     * @param id
     * @return
     */
    ${className} selectById(@Param("${pk.attrname}") ${pk.attrType} ${pk.attrname});


    /**
     * 根据 id 更新数据
     * @param param
     * @return
     */
    Integer updateById(${className} param);


    /**
     * 根据 id 删除数据
     * @param id
     * @return
     */
    Integer deleteById(@Param("${pk.attrname}") ${pk.attrType} ${pk.attrname});


    /**
     * 根据 id 批量删除
     * @param ids
     * @return
     */
    Integer deleteByIds(Object[] ids);
}
