
<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6 lt8 lt9 lt10"><![endif]-->
<!--[if IE 7]><html class="ie ie7 lt8 lt9 lt10"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lt9 lt10"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lt10"><![endif]-->
<!--[if (gt IE 9) | !(IE)]><!--><html xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->
<head>

    <th:block th:include="include :: headhtml('用户登录-卫华口腔')"/>
    <!--页面内容部调用-->
    <!--页面内容部调用-->
    <script src="/static/js/select2.full.js"></script>
    <link href="/static/css/select2.min.css" rel="stylesheet" />
    <script src="/static/js/jquery-validate.js"></script>

</head>
<body>
<div class="body-box">

    <header class="header">
        <th:block th:include="include :: headerhtml(10)"/>
    </header>

    <section class="main-box">
        <div class="wrap">
            <div class="postion f-12">您现在的位置：<a href="/index.html">首页</a> >
                <a href="javascript:;">登录</a></div>

            <div class="main">

                <div class="message-box cf">
                    <div class="right fr">
                        <p class="f-30 f-bold">用户登录，登录后可以查看积分兑换的商品。联系客服兑换商品。</p>
                        <img src="/static/image/xgzt_07.jpg" class="ratio-img" data-ratio='0.5235173824130879' onerror="lod(this)">
                    </div>
                    <div class="form-box oh f-16 c333">
                        <div class="form inps-box">
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <ul>
                                <form id="form1">
                                    <li class="cf must">
                                        <span class="fl"> 用  &nbsp;户&nbsp; 名：</span>
                                        <div class="inps oh">
                                            <input type="text" name="userName" >
                                        </div>
                                    </li>
                                    <br/>
                                    <br/>

                                    <li class="cf must">
                                        <span class="fl">密　　码：</span>
                                        <div class="inps oh">
                                            <input type="password" name="password">
                                        </div>
                                    </li>
                                    <li class="cf">
                                        <div class="inps-ma oh">
                                            <div class="clear"></div>
                                            <button class="f-24 subbtn">用户登录</button>
                                        </div>
                                    </li>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <footer class="footer">
        <th:block th:include="include :: footerhtml"/>
    </footer>
</div>

<script>
    $(".subbtn").click(function(e){

        e.preventDefault();
        if(!$("input[name='userName']").val()){
            layer.msg("请输入用户");return false;
        }
        if(!$("input[name='password']").val()){
            layer.msg("请输入密码");return false;
        }
        var index = layer.load();
        $.ajax({
            "type":"POST",
            "url":"/html/login",
            "data":$("#form1").serialize(),
            "success":function(data){
                layer.close(index);
                layer.msg(data.msg);
                if(data.success == false){
                    setTimeout(function(){
                        window.location.reload();
                    },1000);

                }else if(data.success == true){

                    window.location.href="/html/goods";

                }
            }
        });
    });
</script>

</body>
</html>
