<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6 lt8 lt9 lt10"><![endif]-->
<!--[if IE 7]><html class="ie ie7 lt8 lt9 lt10"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lt9 lt10"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lt10"><![endif]-->
<!--[if (gt IE 9) | !(IE)]><!--><html xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->
<head>
    <th:block th:include="include :: headhtml('宣传视频-卫华口腔')"/>
    <script src="/static/js/swfobject.js"></script>
    <script src="/static/js/video_art.js"></script>
    <style type="text/css">
        #doyoo_panel {display: none;}
    </style>
</head>
<body>
<div>
    <div class="tooth-4" style="margin:0;">
        <div class="img-box ratio-img" data-ratio='0.5625'>
            <a href="javascript:;" class="bon-play"></a>
            <div class="vid-box" data-iframe="" id="playerswf1"
                 data-mp4="/html/advertIMG/mv/xwzydr.mp4"
                 data-img="/html/advertIMG/mv/xgzt_07.jpg"></div>
        </div>
    </div>
</div>

</body>
</html>
</html>