<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6 lt8 lt9 lt10"><![endif]-->
<!--[if IE 7]><html class="ie ie7 lt8 lt9 lt10"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lt9 lt10"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lt10"><![endif]-->
<!--[if (gt IE 9) | !(IE)]><!--><html xmlns:th="http://www.thymeleaf.org"><!--<![endif]-->
<head>
    <th:block th:include="include :: headhtml(${dental.title}+'详情-科普文章-卫华口腔')"/>
</head>

<body class="search-body">
<div class="body-box ndata-box">

    <header class="header">
        <th:block th:include="include :: headerhtml(5)"/>
    </header>

    <section class="main-box">
        <div class="wrap">

            <div class="postion f-12">您现在的位置：
                <a href="/">首页</a> >
                <a href="/html/dental">科普文章</a> >
                <a href="javascript:;">正文</a>
            </div>

            <div class="main">

                <div class="top-title">
                    <p class="f-16 f-bold c333" th:text="${dental.title}">多久洗一次牙</p>
                    <div class="line"></div>
                    <div class="time cf f-12 c333">
                        <p class="fl" th:text="'发布时间：'+${dental.showTime}">发布时间：2017-05-26</p>
                    </div>
                </div>

                <div class="middle-content f-14">
                    <div class="edit_con_original" th:utext="${dental.context}"></div>

                    <!--<div class="bottom-btn f-14 c666">-->
                        <!--<ul>-->
                            <!--<li><a href="/content/details_11_527.html">上一篇：洗牙常见误区（一）</a></li>-->
                            <!--<li><a href="/content/details_11_523.html">下一篇：洗牙常见误区（二）</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

    </section>
    <footer class="footer">
        <th:block th:include="include :: footerhtml"/>
    </footer>
</div>

<script>
    var dentalId = [[${dental.id}]];
    $(function () {
        $.get("/html/dental/update/hits?id="+dentalId,function(data,status){
            console.log(data)
        })
    })
</script>

</body>
</html>